<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2024-2025 gohj99. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.wearable.permission.URI_REDIRECT_TO_REMOTE" />
    <uses-permission android:name="android.permission.CLIPBOARD_MANAGER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:gwpAsanMode="always"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TGwear"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="WearStandaloneAppFlag"
        tools:targetApi="31">
        <activity
            android:name=".VoiceCallActivity"
            android:label="@string/Voice_call_activity"
            android:noHistory="true"
            android:taskAffinity=""
            android:launchMode="singleTop"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".AddProxyActivity"
            android:exported="false"
            android:label="@string/add_proxy_activity"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".SetProxyActivity"
            android:exported="false"
            android:label="@string/set_proxy_activity"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".DonateActivity"
            android:exported="true"
            android:label="@string/donate_activity"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".RemindActivity"
            android:exported="false"
            android:label="@string/remind_activity"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".ChatInfoActivity"
            android:exported="false"
            android:label="@string/chat_info_activity_main"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".GoToCheckUpdateActivity"
            android:exported="false"
            android:label="@string/Beta_title"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".IsBetaActivity"
            android:exported="false"
            android:label="@string/Beta_title"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".InstallApkActivity"
            android:exported="false"
            android:label="@string/Install_Apk"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".ConfirmLogoutActivity"
            android:exported="false"
            android:label="@string/Confirm_Logout"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".CheckUpdateActivity"
            android:exported="false"
            android:label="@string/Check_Update"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".SwitchAccountActivity"
            android:exported="false"
            android:label="@string/Switch_Account"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".AllowDataCollectionActivity"
            android:exported="false"
            android:label="@string/allow_data_Collection"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".ViewActivity"
            android:exported="false"
            android:label="@string/view_activity"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:label="@string/about_activity_setting"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="@string/chat_activity_main"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:label="@string/title_activity_welcome"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.TGwear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.notification.NotificationActionReceiver"
            android:exported="false" />

        <receiver
            android:name=".utils.notification.NotificationDismissReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".StartVoiceCallActivityForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
        <service
            android:name=".utils.notification.TdFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

</manifest>